.photoBox {
  position: relative;
  display: block;
  margin: auto;
}
  
.userAvatar, .userImageSideBar {
  display: block;
  width: 163px;
  height: 163px;
  margin: auto;
  padding-bottom: 10px;
}
  
.userName {
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 10px;
  padding-bottom: 10px;
}
  
@media (max-width:600px) {
  .userName {
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
  
.userSummary {
  font-size: 25px;
  padding-bottom: 10px;
}

@media (max-width:600px) {
  .userSummary {
    font-size: 25px;
    padding-bottom: 10px;
  }
}

.userDescription {
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 21px;
}