.contactsContainer button {
    display: flex;
    background: white;
    border: none;
    color: var(--green-color-highlight-shamrock);
    font-size: 28px;
    
  }
  a:link {
    text-decoration: none;
    color: var(--main-text-and-bg-color-oxford-blue);
  }  
  
  a:visited {
    color: var(--main-text-and-bg-color-oxford-blue);
  }
  a:active {
    text-decoration: underline;
  }
  
  .contactBox {
    text-align: left;
  }
  
  .contact th {
    padding-right: 20px;
  }
  
  .contact h1, .contactBoundle h2 {
    padding-bottom: 15px;
  }
  
  .contactImg {
    vertical-align: -webkit-baseline-middle;
  }